.container-nav {
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: #f0e5cf;
	top: 0;
	& > li > a {
		color: white;
	}
}

.wrapper {
	padding: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
